<div class="side-banner side-banner-left" aria-hidden="true">
  <div class="banner-scroll">
    <div class="banner-text" data-text="BROKEN BINARIES">
      <span>BROKEN BINARIES</span>
    </div>
  </div>
  <div class="banner-glitch-layer"></div>
</div>
<div class="side-banner side-banner-right" aria-hidden="true">
  <div class="banner-scroll">
    <div class="banner-text" data-text="BROKEN BINARIES">
      <span>BROKEN BINARIES</span>
    </div>
  </div>
  <div class="banner-glitch-layer"></div>
</div>
